.DS_Store
target
/test-workspace/
/node_modules/
/dist/
/applications/electron/lib/
/applications/electron/plugins/
/applications/electron/src-gen/
/applications/electron/node_modules/
/applications/electron/gen-webpack.config.js
/applications/electron/gen-webpack.node.config.js
/applications/electron/webpack.config.js
!/applications/electron/webpack.config.js
/packages/theia-extension/lib/
/packages/theia-extension/node_modules/
/packages/debug-adapter/lib/
/packages/debug-adapter/node_modules/
/packages/theia-extension/assets/sidscore/
/packages/theia-extension/assets/vice/
/packages/language-support/node_modules/
/packages/language-support/dist/
/.theia/
/example-workspace/out
