<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Commodore Commander"
            application="org.eclipse.ui.ide.workbench">
         <property
               name="windowImages"
               value="cc_128.png,cc_256.png">
         </property>
         <property
               name="aboutText"
               value="%productBlurb">
         </property>
         <property
               name="aboutImage"
               value="eclipse_lg.png">
         </property>
         <property
               name="startupForegroundColor"
               value="ffffff">
         </property>
         <property
               name="startupProgressRect"
               value="2,290,450,10">
         </property>
         <property
               name="startupMessageRect"
               value="7,265,320,25">
         </property>
         <property
               name="appName"
               value="Commodore Commander">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
