<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
    point="org.eclipse.core.contenttype.contentTypes">
    <content-type
      file-extensions="asm,inc,s,a,lib,kick,ka,src"
      id="net.resheim.eclipse.cc.kickassembler"
      name="Kick Assembler Code"
      priority="high">
    </content-type>
  </extension>

  <!-- Register Kick Assembler TextMate grammars -->

  <extension point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
    <languageConfiguration contentTypeId="net.resheim.eclipse.cc.kickassembler" path="syntaxes/kickassembler.language-configuration.json" />
  </extension>
  <extension
    point="org.eclipse.tm4e.registry.grammars">
    <grammar
      scopeName="source.assembly.kickassembler"
      path="syntaxes/kickassembler.tmLanguage.json">
    </grammar>
    <scopeNameContentTypeBinding
      contentTypeId="net.resheim.eclipse.cc.kickassembler"
      scopeName="source.assembly.kickassembler">
    </scopeNameContentTypeBinding>
  </extension>
  <extension
    point="org.eclipse.ui.genericeditor.presentationReconcilers">
    <presentationReconciler
      class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
      contentType="net.resheim.eclipse.cc.kickassembler">
    </presentationReconciler>
  </extension>
  <extension point="org.eclipse.ui.editors">
    <editor
          class="net.resheim.eclipse.cc.editor.AssemblyEditor"
          default="true"
          extensions="asm,inc,s,a,lib,kick,ka,src"
          icon="icons/asm_file_obj.png"
          id="net.resheim.eclipse.cc.ui.assembly.editor"
          name="C64 Assembly Editor">
       <contentTypeBinding
             contentTypeId="net.resheim.eclipse.cc.kickassembler">
       </contentTypeBinding>
    </editor>
    <editorContentTypeBinding
          contentTypeId="net.resheim.eclipse.cc.kickassembler"
          editorId="net.resheim.eclipse.cc.ui.assembly.editor">
    </editorContentTypeBinding>
    <editor
          default="true"
          extensions="prg"
          icon="icons/console_view.png"
          id="net.resheim.eclipse.cc.ui.vice"
          launcher="net.resheim.eclipse.cc.editor.VICELauncher"
          name="Commodore Program">
    </editor>
  </extension>
  <extension
        point="org.eclipse.tm4e.ui.snippets">
     <snippet
           name="Kick Assembler"
           path="snippet.asm"
           scopeName="source.assembly.kickassembler">
     </snippet>
  </extension>

   <extension
         id="kickassemblerBuilder"
         name="Kick Assembler Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="net.resheim.eclipse.cc.builder.KickAssemblerBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="nature"
         name="Commodore Commander Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.resheim.eclipse.cc.nature.CommodoreCommanderNature">
         </run>
      </runtime>
      <builder
            id="net.resheim.eclipse.cc.ui.kickassemblerBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="net.resheim.eclipse.cc.nature.category"
            name="Commodore Commander Project Nature commands">
      </category>
      <command
            categoryId="net.resheim.eclipse.cc.nature.category"
            defaultHandler="net.resheim.eclipse.cc.nature.AddRemoveNatureHandler"
            id="net.resheim.eclipse.commodore.commander.toggleProjectNature"
            name="Add/Remove Commodore Commander Project Nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="net.resheim.eclipse.commodore.commander.toggleProjectNature"
               label="Disable Commodore Commander Project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="net.resheim.eclipse.cc.ui.nature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="net.resheim.eclipse.commodore.commander.toggleProjectNature"
               label="Convert to Commodore Commander Project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="net.resheim.eclipse.cc.ui.nature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="kickAssemblerProblem"
         name="Kick Assembler Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="net.resheim.eclipse.cc.ui.ConsoleFactory"
            icon="icons/console_view.png"
            label="Commodore Commander">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="net.resheim.eclipse.cc.launch.VICELaunchDelegate"
            delegateDescription="The VICE Launcher supports running and debugging of Commodore programs."
            delegateName="VICE Launcher"
            id="net.resheim.eclipse.cc.ui.launchConfigurationType_VICE"
            modes="run,debug"
            name="Commodore Program"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="net.resheim.eclipse.cc.launch.VICELaunchConfigurationTabGroup"
            description="VICE Launch"
            id="net.resheim.eclipse.cc.ui.launchConfigurationTabGroup1"
            type="net.resheim.eclipse.cc.ui.launchConfigurationType_VICE">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="net.resheim.eclipse.cc.ui.launchConfigurationType_VICE"
            icon="icons/console_view.png"
            id="net.resheim.eclipse.cc.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>

</plugin>
