<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
    point="org.eclipse.core.contenttype.contentTypes">
    <content-type
      file-extensions="asm,inc,s,a,lib,kick,ka,src"
      id="net.resheim.eclipse.cc.kickassembler"
      name="Kick Assembler Code"
      priority="high">
    </content-type>
  </extension>

  <!-- Register Kick Assembler TextMate grammars -->

  <extension point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
    <languageConfiguration contentTypeId="net.resheim.eclipse.cc.kickassembler" path="syntaxes/kickassembler.language-configuration.json" />
  </extension>
  <extension
    point="org.eclipse.tm4e.registry.grammars">
    <grammar
      scopeName="source.assembly.kickassembler"
      path="syntaxes/kickassembler.tmLanguage.json">
    </grammar>
    <scopeNameContentTypeBinding
      contentTypeId="net.resheim.eclipse.cc.kickassembler"
      scopeName="source.assembly.kickassembler">
    </scopeNameContentTypeBinding>
  </extension>
  <extension
    point="org.eclipse.ui.genericeditor.presentationReconcilers">
    <presentationReconciler
      class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
      contentType="net.resheim.eclipse.cc.kickassembler">
    </presentationReconciler>
  </extension>
  <extension point="org.eclipse.ui.editors">
    <editor
          class="net.resheim.eclipse.cc.editor.AssemblyEditor"
          default="true"
          extensions="asm,inc,s,a,lib,kick,ka,src"
          icon="icons/asm_file_obj.png"
          id="net.resheim.eclipse.cc.ui.assembly.editor"
          name="C64 Assembly Editor">
       <contentTypeBinding
             contentTypeId="net.resheim.eclipse.cc.kickassembler">
       </contentTypeBinding>
    </editor>
    <editorContentTypeBinding
          contentTypeId="net.resheim.eclipse.cc.kickassembler"
          editorId="net.resheim.eclipse.cc.ui.assembly.editor">
    </editorContentTypeBinding>
    <!-- A bit of a cheat so that double clicking a PRG-file will run it -->
    <editor
          default="true"
          extensions="prg"
          icon="icons/console_view.png"
          id="net.resheim.eclipse.cc.ui.vice"
          launcher="net.resheim.eclipse.cc.editor.VICELauncher"
          name="Commodore Program">
    </editor>
  </extension>
  <!-- BEGIN EDITOR ACTIONS ================================================ -->
  <!--
  Action for toggling a checkpoint when double clicking the ruler. This approach
  is deprecated, but I cannot figure out how to do this using the COMMAND
  extension points.
  -->
  <extension point="org.eclipse.ui.editorActions">
    <editorContribution
          targetID="net.resheim.eclipse.cc.ui.assembly.editor"
          id="net.resheim.eclipse.cc.ui.assembly.editor.rulerActions">
       <action
             label="Not Used"
             class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
             style="push"
             actionID="RulerDoubleClick"
             id="net.resheim.eclipse.cc.ui.assembly.editor.doubleClickBreakpointAction"/>
    </editorContribution>
  </extension>
  <!-- END EDITOR ACTIONS ================================================== -->
  <extension
        point="org.eclipse.tm4e.ui.snippets">
     <snippet
           name="Kick Assembler"
           path="snippet.asm"
           scopeName="source.assembly.kickassembler">
     </snippet>
  </extension>

   <extension
         id="kickassemblerBuilder"
         name="Kick Assembler Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true">
         <run
               class="net.resheim.eclipse.cc.builder.KickAssemblerBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="nature"
         name="Commodore Commander Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.resheim.eclipse.cc.nature.CommodoreCommanderNature">
         </run>
      </runtime>
      <builder
            id="net.resheim.eclipse.cc.ui.kickassemblerBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="net.resheim.eclipse.cc.nature.category"
            name="Commodore Commander Project Nature commands">
      </category>
      <command
            categoryId="net.resheim.eclipse.cc.nature.category"
            defaultHandler="net.resheim.eclipse.cc.nature.AddRemoveNatureHandler"
            id="net.resheim.eclipse.commodore.commander.toggleProjectNature"
            name="Add/Remove Commodore Commander Project Nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="net.resheim.eclipse.commodore.commander.toggleProjectNature"
               label="Disable Commodore Commander Project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="net.resheim.eclipse.cc.ui.nature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="net.resheim.eclipse.commodore.commander.toggleProjectNature"
               label="Convert to Commodore Commander Project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="net.resheim.eclipse.cc.ui.nature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="kickAssemblerProblem"
         name="Kick Assembler Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="net.resheim.eclipse.cc.ui.ConsoleFactory"
            icon="icons/console_view.png"
            label="Commodore Commander">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="net.resheim.eclipse.cc.launch.VICELaunchDelegate"
            delegateDescription="The VICE Launcher supports running and debugging of Commodore programs."
            delegateName="VICE Launcher"
            id="net.resheim.eclipse.cc.ui.launchConfigurationType_VICE"
            modes="run,debug"
            name="Commodore Program"
            public="true"
            sourceLocatorId="net.resheim.eclipse.cc.sourceLocator"
            sourcePathComputerId="net.resheim.eclipse.cc.sourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="net.resheim.eclipse.cc.launch.VICELaunchConfigurationTabGroup"
            description="VICE Launch"
            id="net.resheim.eclipse.cc.ui.launchConfigurationTabGroup1"
            type="net.resheim.eclipse.cc.ui.launchConfigurationType_VICE">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="net.resheim.eclipse.cc.ui.launchConfigurationType_VICE"
            icon="icons/console_view.png"
            id="net.resheim.eclipse.cc.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <!-- DISABLE THIS FOR NOW, IT CANNOT BE USED FOR READING FROM RAM
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.resheim.eclipse.cc.ui"
            name="Debug">
      </category>
      <view
            category="net.resheim.eclipse.cc.ui"
            class="net.resheim.eclipse.cc.ui.views.DisassemblyView"
            icon="icons/disassembly_view.gif"
            id="net.resheim.eclipse.cc.ui.views.DisassemblyView"
            inject="true"
            name="Disassembly">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="net.resheim.eclipse.cc.ui.views.DisassemblyView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   -->
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            name="net.resheim.eclipse.cc.pc">
      </type>
   </extension>

   <!-- EDITOR -->
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="net.resheim.eclipse.cc.pc"
            colorPreferenceKey="pcIndicatorColor"
            colorPreferenceValue="212,212,212"
            highlightPreferenceKey="pcIndicatorHighlight"
            highlightPreferenceValue="true"
            icon="icons/inst_ptr_top.png"
            includeOnPreferencePage="true"
            label="Program Counter"
            overviewRulerPreferenceKey="pcIndicatorOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="4"
            verticalRulerPreferenceKey="pcIndicatorVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>

   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            name="net.resheim.eclipse.cc.checkpoint">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="net.resheim.eclipse.cc.checkpoint"
            colorPreferenceKey="checkpointIndicatorColor"
            colorPreferenceValue="212,212,212"
            highlightPreferenceKey="checkpointIndicatorHighlight"
            highlightPreferenceValue="true"
            icon="icons/inst_ptr_top.png"
            includeOnPreferencePage="true"
            label="Checkpoint"
            overviewRulerPreferenceKey="checkpointIndicatorOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="4"
            verticalRulerPreferenceKey="checkpointIndicatorVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>

   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="net.resheim.eclipse.cc.vice.debug.model.Checkpoint"
            id="net.resheim.eclipse.cc.checkpoint"
            markerType="net.resheim.eclipse.cc.checkpointMarker"
            name="Checkpoint">
      </breakpoint>
   </extension>

   <extension
         id="net.resheim.eclipse.cc.checkpointMarker"
         name="Checkpoint"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.debug.core.breakpointMarker"/>
      <persistent value="true">
      </persistent>
      <attribute
            name="source">
      </attribute>
  </extension>

  <extension point="org.eclipse.debug.ui.debugModelPresentations">
    <debugModelPresentation
          class="net.resheim.eclipse.cc.ui.VICEDebugModelPresentation"
          detailsViewerConfiguration="net.resheim.eclipse.cc.editor.AssemblyViewerConfiguration"
          id="net.resheim.eclipse.cc.vice.debug">
    </debugModelPresentation>
 </extension>

 <extension
       point="org.eclipse.core.runtime.adapters">
    <factory
          adaptableType="net.resheim.eclipse.cc.editor.AssemblyEditor"
          class="net.resheim.eclipse.cc.ui.AssemblyEditorAdapterFactory">
       <adapter
             type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
       </adapter>
    </factory>
 </extension>
 <extension
       point="org.eclipse.debug.core.sourceLocators">
    <sourceLocator
          class="net.resheim.eclipse.cc.launch.AssemblySourceLookupDirector"
          id="net.resheim.eclipse.cc.sourceLocator"
          name="Assembly Source Locator">
    </sourceLocator>
 </extension>
 <extension
       point="org.eclipse.debug.core.sourcePathComputers">
    <sourcePathComputer
          class="net.resheim.eclipse.cc.launch.SourcePathComputerDelegate"
          id="net.resheim.eclipse.cc.sourcePathComputer">
    </sourcePathComputer>
 </extension>
   <extension
         point="org.eclipse.debug.ui.memoryRenderings">
      <renderingBindings
            defaultIds="net.resheim.cc.debug.ui.rendering.characters"
            renderingIds="org.eclipse.debug.ui.rendering.raw_memory,net.resheim.cc.debug.ui.rendering.characters,net.resheim.cc.debug.ui.rendering.hex">
         <enablement>
            <instanceof
                  value="net.resheim.eclipse.cc.vice.debug.model.ExtendedVICEMemoryBlock">
            </instanceof>
         </enablement>
      </renderingBindings>
      <renderingType
            class="net.resheim.eclipse.cc.ui.debug.CCRenderingTypeDelegate"
            id="net.resheim.cc.debug.ui.rendering.characters"
            name="Characters">
      </renderingType>
      <renderingType
            class="net.resheim.eclipse.cc.ui.debug.CCRenderingTypeDelegate"
            id="net.resheim.cc.debug.ui.rendering.hex"
            name="8-bit">
      </renderingType>
   </extension>
<extension
    point="org.eclipse.core.runtime.applications" id="net.resheim.eclipse.cc">
    <application>
        <run class="net.resheim.eclipse.cc.ui.CommanderApplication">
        </run>
    </application>
</extension>
<extension
    point="org.eclipse.ui.perspectives">
    <perspective
          class="net.resheim.eclipse.cc.ui.CommanderPerspectiveFactory"
          default="true"
          icon="icons/console_view.png"
          id="net.resheim.eclipse.cc.perspective"
          name="Commander Perspective">
    </perspective>
</extension>
</plugin>

